<!DOCTYPE html>
<html>
<head>
    <title>FOP&P Character Generator</title>
</head>

<body>
    <h1>
        Fallout Pen and Paper Character Generator
    </h1>
    <p>
        {{ sentence }}
    </p>
    <button onclick="window.location.reload();">
        Generate
    </button>
    <br>
    <br>
    <table>
    {% for fopnp in fopnp %}
        <div class="content">
        <tr>
            <td>{{ fopnp.id }}</td>
            <td>{{ fopnp.races }}</td>
            <td>{{ fopnp.roles }}</td>
        </tr>
        </div>
    {% endfor %}
    </table>

</body>


</html>